.error-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  visibility: hidden;
  transition: visibility .4s linear;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;

  &_active {
    visibility: visible;
  }

  &__container {
    width: 60%;
    height: 30%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    margin: 0;
    padding: 0;
    color: var(--color-red);
    font-size: var(--font-size-titleSmaller);
    line-height: var(--font-lineHeight-titleSmall);
    text-align: center;
  }
}
