.portfolio {
  --bg-color: var(--color-black);
  background-color: var(--bg-color);
  box-sizing: border-box;
  width: 100%;
  padding: var(--padding-portfolio);

  @media (--res-wideToMid) {
    @mixin responsiveValue padding-bottom, 1280, 768, 125, 90;
    @mixin responsiveValue padding-left, 1280, 768, 70, 50;
    @mixin responsiveValue padding-right, 1280, 768, 70, 50;
  }

  @media (--res-midToSm) {
    @mixin responsiveValue padding-bottom, 768, 320, 90, 70;
    @mixin responsiveValue padding-left, 768, 320, 50, 14;
    @mixin responsiveValue padding-right, 768, 320, 50, 14;
  }

}
