.app {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, min-content);
  box-sizing: border-box;
  justify-items: center;
  min-width: 320px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  &__text {
    font-family: var(--font-baseFontFamily);
    color: var(--color-text);
  }

  &__link {
    transition: opacity .4s ease-in;
    &:hover{
      opacity: .6;
    }
  }
}


