.landing {
  width: 100%;


  &__section-title {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-bottom: var(--color-lightLine) solid 1px;
    padding: 0 0 23px 0;
    font-size: var(--font-size-titleSmall);
    line-height: var(--font-lineHeight-titleSmall);
    font-weight: 400;
    max-width: 1140px;

    @media (--res-midToSm) {
      @mixin responsiveValue font-size, 768, 320, 22, 18;
    }

    &_place_portfolio {
      color: var(--color-gray);
      border: 0;
      font-weight: normal;
      font-size: var(--font-size-titleSmallest);
      line-height: var(--font-lineHeight-titleSmallest);
      padding: 0;
    }
  }
}

